.table-container{
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-direction: row;
    padding-bottom: 50px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}